/* 
css is for animation so i had to make a css file to animate the logo
*/

@keyframes pulse {
    /* the percentages are the time frames */
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}
/* apply thhe animation */
.spotify-icon-animated {
    animation: pulse 2.3s infinite;
}

.vinyl-spin {
    animation: spin 3s linear infinite;
}
